@font-face {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Courier Prime', monospace;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {font-family: 'Luckiest Guy', 'Noto Sans KR', sans-serif !important;}

.header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 120px;
    left: 0;
    top: 0;
}

.nav {
    display: block;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 70px;
    text-shadow: 2px 2px 6px #3c3c3c;
    overflow: hidden;
    position: relative;
    padding: 7vw 7vw;
    margin-bottom: .8vw;
}

img {
    max-width: 100%;
    z-index: 9;
}


/* 메인 */

.main-title {
    margin-top: 120px;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 100;
}

.main-title span {
    font-size: 90pt;
    -webkit-text-fill-color: #FFE145;
    -webkit-text-stroke: 3px #000000;
    line-height: 0.8;
}

.viewer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    cursor: grabbing;
}

.viewer {
    background: #55AFFF;
    width: 380rem;
    height: 213.33rem;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-right: 35rem;
    user-select: none;
    cursor: all-scroll;
    z-index:1
}

.group-1 {
    position: relative;
    top: 300px;
    left: 20px;
    float: left;
    margin-right: 7vw;
    width: 280px;
}

.viewer-item {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
    overflow: visible;
    background-color: white;
    border: solid 10px #FFE145;
    margin-bottom: 10px;
    z-index: 10;
}


.title span{
    font-size: 16px;
    font-family: 'Courier Prime';
    margin-bottom: 10px;
    background-color: #FFE145;
    padding: 0 3px;
    font-weight: bold;
}

.info-btn {
    cursor: pointer;
}

.info-btn span{
    font-size: 12px;
    font-family: 'Courier Prime';
    color: red;
    border: solid 1px red;
    text-align: left;
    padding: 3px 7px;
    border-radius: 30px;
    width: auto;
}

