@font-face {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Courier Prime', monospace;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {font-family: 'Luckiest Guy', 'Noto Sans KR', sans-serif !important; overflow: hidden;}

.header {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 120px;
    left: 0;
    top: 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav a {
    display: block;
    text-decoration: none;
    font-size: 70px;
    text-shadow: 2px 2px 6px #3c3c3c;
    overflow: hidden;
    position: relative;
    padding: 7vw 7vw;
    margin-bottom: .8vw;
}

img {
    max-width: 100%;
    z-index: inherit;
}

/* layout */
#layout {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    width: 50vw;
    height: 120px;
    border: 1px solid #000;
}

/* 메인 */
.main-title {
    margin-top: 140px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.main-title span {
    font-size: 110pt;
    -webkit-text-fill-color: #FFE600;
    -webkit-text-stroke: 3px #000000;
    line-height: 0.8;
}

.viewer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    cursor: grabbing;
}

.viewer-inner {
    position: relative;
    z-index: 1;
    width: 1440px;
    height: 2880px;
    overflow: hidden;
}

section {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 50%;
}

.space-1 {
    left: 0;
    top: 0;
    background-color: #55AFFF;
}

.space-2 {
    right: 0;
    top: 0;
    background-color: #FFC3E4;
}

.space-3 {
    left: 0;
    bottom: 0;
    background-color: #FFE145;
}

.space-4 {
    right: 0;
    bottom: 0;
    background-color: #33EB45;
}

.section-inner {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.viewer-item {
    position: absolute;
    z-index: 20;
}

.box  {
    position: relative;
    z-index: 25;
    margin-bottom: 10px;
    text-decoration: none;
    background: #fff;
    color: #000;
}

.yellowbox {
    width: 160px;
    border: solid 8px #FFE600;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.title span {
    font-size: 16px;
    font-family: 'Courier Prime';
    margin-bottom: 10px;
    padding: 0 3px;
    font-weight: bold;
}

.title-yellowbox span{
    background-color: #FFE600;
}

#Pizza-Planet {
    left: 100px;
    top: 550px;
}

#Teriyaki {
    left: 250px;
    top: 950px;
}

#Kahuna {
    left: 300px;
    top: 700px;
}

#Slusho {
    left: 500px;
    top: 800px;
}

#BigJerry {
    left: 20px;
    top: 850px;
}

#LosPollos {
    left: 80px;
    top: 1250px;
}

#Clone {
    left: 300px;
    top: 1350px;
}

#Clucks {
    left: 500px;
    top: 1150px;
}

.info-btn {
    cursor: pointer;
    position: relative;
    width: 120px;
}

.info-btn span{
    font-size: 12px;
    font-family: 'Courier Prime';
    color: red;
    border: solid 1px red;
    text-align: left;
    padding: 3px 7px;
    border-radius: 30px;
}

.bluebox {
    width: 160px;
    border: solid 8px #55AFFF;
}

.title-bluebox span{
    background-color: #55AFFF;
}

#Duff {
    position: absolute;
    left: 700px;
    top: 500px;
}

.greenbox {
    width: 160px;
    border: solid 8px #33EB45;
}

.title-greenbox span{
    background-color: #33EB45;
}

#Redapple {
    position: absolute;
    left: 300px;
    top: 1750px;
}

#Baba {
    position: absolute;
    left: 10px;
    top: 2000px;
}

#CentralP {
    position: absolute;
    left: 50px;
    top: 1700px;
}

.pinkbox {
    width: 160px;
    border: solid 8px #FFC3E4;
}

.title-pinkbox span{
    background-color: #FFC3E4;
}


@media screen and (min-width:426px) {
    html,
    body {
        opacity: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}