@font-face {
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Courier Prime', monospace;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {font-family: 'Luckiest Guy', 'Noto Sans KR', sans-serif !important; overflow: hidden;}

.header {
    position: fixed;
    z-index: 990;
    width: 100vw;
    height: 120px;
    left: 0;
    top: 0;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav a {
    display: block;
    text-decoration: none;
    font-size: 70px;
    text-shadow: 2px 2px 6px #3c3c3c;
    overflow: hidden;
    position: relative;
    padding: 7vw 7vw;
}

.contents {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    z-index: inherit;
}


/* layout */
#layout {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    width: 50vw;
    height: 50vw;
    border: 4px solid #fff;
    background: transparent url('../img/layout/layout.png') no-repeat center center;
    background-size: cover;
}

.layout-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.layout-scroller {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
}

/* 메인 */

.popup {
    position: fixed;
    z-index: 1100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup-icon {
    display: block;
    text-align: center;
    font-size: 140px;
    text-shadow: 2px 2px 6px #fff;
    position: relative;
}

.popup-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.popup-text span {
    font-size: 20pt;
    -webkit-text-fill-color: #FFE600;
    -webkit-text-stroke: 0.8px #000000;
    line-height: 1.25;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    word-break: keep-all;
}

.main-title {
    margin-top: 140px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.main-title span {
    font-size: 110pt;
    -webkit-text-fill-color: #FFE600;
    -webkit-text-stroke: 3px #000000;
    line-height: 0.8;
}

.viewer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    cursor: grabbing;
}

.viewer-inner {
    position: relative;
    z-index: 1;
    width: 2400px;
    height: 2400px;
    overflow: hidden;
}

section {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 50%;
}

.space-1 {
    left: 0;
    top: 0;
    background-color: #55AFFF;
}

.space-2 {
    right: 0;
    top: 0;
    background-color: #FFC3E4;
}

.space-3 {
    left: 0;
    bottom: 0;
    background-color: #FFE145;
}

.space-4 {
    right: 0;
    bottom: 0;
    background-color: #33EB45;
}

.section-inner {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.viewer-item {
    position: absolute;
    z-index: 20;
}

.box  {
    position: relative;
    z-index: 25;
    text-decoration: none;
    color: #000;
}

.yellowbox {
    width: 160px;
    border: solid #FFE600;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #FFE600;
}

.yellowbox-big {
    width: 300px;
    border: solid #FFE600;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #FFE600;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.title span {
    font-size: 14px;
    font-family: 'Courier Prime';
    padding: 0 3px 0 3px;
}

.title-yellowbox span{
    background-color: #FFE600;
}

#Pizza-Planet {
    left: 100px;
    top: 320px;
}

#Teriyaki {
    left: 150px;
    top: 950px;
}

#Kahuna {
    left: 300px;
    top: 640px;
}

#Slusho {
    left: 940px;
    top: 300px;
}

#BigJerry {
    left: 40px;
    top: 690px;
}

#LosPollos {
    left: 80px;
    top: 1250px;
}

#Clone {
    left: 900px;
    top: 920px;
}

#Clucks {
    left: 500px;
    top: 880px;
}

#Schrader {
    left: 460px;
    top: 380px;
}

#Bennys {
    left: 820px;
    top: 600px;
}

.info-btn {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: 120px;
    padding-top: 10px;
}


.info-btn span{
    font-size: 12px;
    font-family: 'Courier Prime';
    color: red;
    border: solid 1px red;
    text-align: left;
    padding: 3px 7px;
    border-radius: 30px;
}

.bluebox {
    width: 160px;
    border: solid #55AFFF;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #55AFFF;
}

.bluebox-big {
    width: 300px;
    border: solid #55AFFF;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #55AFFF;
}

.title-bluebox span{
    background-color: #55AFFF;
}

#AirO {
    left: 50px;
    top: 150px;
}

#Duff {
    left: 900px;
    top: 800px;
}

#Ingen {
    left: 60px;
    top: 550px;
}

#Encom {
    left: 420px;
    top: 100px;
}

#BnL {
    left: 420px;
    top: 320px;
}

#Oceanic {
    left: 120px;
    top: 340px;
}

#Maroon {
    left: 760px;
    top: 340px;
}

#Specta {
    left: 240px;
    top: 770px;
}

#Lotto {
    left: 50px;
    top: 900px;
}

#BigBelly {
    left: 540px;
    top: 880px;
}

#verybig {
    left: 1000px;
    top: 100px;
}

#initech {
    left: 1000px;
    top: 1000px;
}

#UAC {
    left: 700px;
    top: 150px;
}

#ajira {
    left: 500px;
    top: 580px;
}

#Athl {
    left: 940px;
    top: 600px;
}

#BurgerMatic {
    left: 300px;
    top: 1000px;
}


.greenbox {
    width: 160px;
    border: solid #33EB45;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #33EB45;
}

.greenbox-big {
    width: 300px;
    border: solid #33EB45;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #33EB45;
}

.title-greenbox span{
    background-color: #33EB45;
}

#Redapple {
    left: 500px;
    top: 200px;
}

#Baba {
    left: 50px;
    top: 360px;
}

#CentralP {
    left: 100px;
    top: 100px;
}

#Dinoco {
    left: 300px;
    top: 500px;
}

#PiedP {
    left: 880px;
    top: 640px;
}

#Capitol {
    left: 200px;
    top: 1000px;
}

#Gusteau {
    left: 470px;
    top: 740px;
}

#jackrabbit {
    left: 760px;
    top: 100px;
}

#eggman {
    left: 720px;
    top: 450px;
}

#chango {
    left: 900px;
    top: 900px;
}

#shreck {
    left: 70px;
    top: 720px;
}

.pinkbox {
    width: 160px;
    border: solid #FFC3E4;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #FFC3E4;
}

.pinkbox-big {
    width: 300px;
    border: solid #FFC3E4;
    border-top-width: 8px;
    border-bottom-width: 3px;
    border-left-width: 8px;
    border-right-width: 8px;
    background: #FFC3E4;
}

.title-pinkbox span{
    background-color: #FFC3E4;
}

#Apollo {
    left: 60px;
    top: 60px;
}

#Acme {
    left: 100px;
    top: 780px;
}

#Dunder {
    left: 500px;
    top: 350px;
}

#Brawndo {
    left: 560px;
    top: 150px;
}

#SCDP {
    left: 800px;
    top: 100px;
}

#Lets {
    left: 60px;
    top: 460px;
}

#OCP {
    left: 640px;
    top: 690px;
}

#MassiveD {
    left: 360px;
    top: 720px;
}

#Heisler {
    left: 990px;
    top: 620px;
}

#Wayne {
    left: 300px;
    top: 970px;
}

#Weyland {
    left: 920px;
    top: 400px;
}

#Quinkies {
    left: 800px;
    top: 950px;
}

#Silver {
    left: 270px;
    top: 240px;
}

@media screen and (min-width:426px) {
    html,
    body {
        opacity: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}